body {
    font-family: Times New Roman, Times New Roman;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    background : linear-gradient(90deg ,red, yellow ,blue , green , pink , purple , rgba(90,23,45));
}
.container {
    text-align: center;
    background-color: #ffffff;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
h1 {
    font-size: 24px;
}
.converter {
    margin-bottom: 20px;
}
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
.result {
    font-size: 18px;
    color: red;
}
